<!-- Header section -->
	<header class="header-section">
		<a href="./index.html" class="site-logo"><img src="/assets/images/gear.png" alt=""></a>
		<div class="nav-switch">
			<i class="fa fa-bars"></i>
		</div>
		<div class="nav-warp">

			<span ng-controller="LoginController as vm">
			<div ng-if="!vm.isAuthenticated()"  class="user-panel">
				<span ng-click=vm.openLoginModal() >Login</span>
			</div>
			</span>

			<span ng-controller="SignupController as vm" >
			<div ng-if="!vm.isAuthenticated()" class="user-panel">
				<span  ng-click=vm.openSignupModal() >Register</span>
			</div>
			</span>


			<span>
			<ul class="main-menu">
				<li><a href="./index.html">Home</a></li>
				<li><A ui-sref="app.users" ui-sref-opts="{reload:true}">About us</a></li>
				<li><a href="./service.html">Services</a></li>
				<li><a href="./blog.html">News</a></li>
				<li><a href="./contact.html">Contact</a></li>
			</ul>
			</span>
		</div>
	</header>
	<!-- Header section end -->

   <section class="page-top-section set-bg" ></section>
