<!-- Header section -->
	<header class="header-section">
		<a href="./index.html" class="site-logo"><img src="/assets/images/gear.png" alt=""></a>
		<div class="nav-switch">
			<i class="fa fa-bars"></i> 
		</div>
		<div class="nav-warp">
			<div class="user-panel">
				<a href="#">Login</a> /
				<a href="#">Register</a>
			</div>
			<ul class="main-menu">
				<li><a href="./index.html">Home</a></li> 
				<li><a href="./about.html">About us</a></li>
				<li><a href="./service.html">Services</a></li>
				<li><a href="./blog.html">News</a></li>
				<li><a href="./contact.html">Contact</a></li>
			</ul>
		</div>
	</header>
	<!-- Header section end -->

   <section class="page-top-section set-bg" ></section> 
   
	
