<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" id="login_signup" href="#" role="button" aria-haspopup="true" aria-expanded="false">
{{'SIGNIN_TITLE' | translate}}
</a>
<ul id="login-dp" class="dropdown-menu">
  <!--dropdown form taken from https://bootsnipp.com/snippets/DV3m4 -->
      <li>
         <div class="row">
            <div class="col-md-12">
              {{'LOGIN_VIA' | translate}}
              <div class="social-buttons">
                <!--<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a> -->
                <a href="#" class="btn btn-tw"><i class="fa fa-google"></i> {{'GOOGLE' | translate}}</a>
              </div>
                              (or)
               <form class="form" role="form" name="signin_form" ng-submit="submitForm()" novalidate id="signin_form">
                  <div class="form-group">
                     <label class="sr-only" for="email">{{'EMAIL' | translate}}</label>
                     <input type="email" class="form-control" id="email" placeholder="{{'EMAIL' | translate}}" required>
                     <br>
                     <span ng-show="signin_form.email.$invalid && !signin_form.email.$pristine" class="help-block">{{'REQUIRED' | translate}}</span>

                  </div>
                  <div class="form-group"> 
                     <label class="sr-only" for="password">{{'PASSWORD' | translate}}</label>
                     <input type="password" class="form-control" id="password" placeholder="{{'PASSWORD' | translate}}" required>
                     <br>
                     <span ng-show="signin_form.password.$invalid && !signin_form.password.$pristine" class="help-block">{{'REQUIRED' | translate }}</span>
             			   <span ng-show="!signin_form.password.$pristine && !signin_form.c_password.$pristine && vm.password_mismatch" class="help-block">{{'PASSWORD_MISMATCH' | translate }}</span>
                      <div class="help-block text-right"><a href="">{{'FORGOT_PWD' | translate}} ?</a></div>

                  </div>
                  <div class="form-group">
                     <button type="submit" class="btn btn-primary btn-block">{{'SIGNIN_TITLE' | translate}}</button>
                  </div>
                  <div class="checkbox">
                     <label>
                     <input type="checkbox"> {{'KEEP_ME_SIGNED_IN' | translate}}
                     </label>
                  </div>
               </form>
            </div>
            <div class="bottom text-center">
              {{'NEW_HERE' | translate}} ? <a href="#"><b>{{'SIGN_ME_UP' | translate}}</b></a>
            </div>
         </div>
      </li>
    </ul>
</li>
