<!-- Page Top section -->
	<section class="page-breadcrumbs set-bg" >
		<div class="container">
			<h2 style="color:#ffffff !important;">{{ 'DEXTEROUS_DEVELOPER' | translate }}</h2>
			<div class="site-breadcrumb">
                <ui-breadcrumb abstract=false></ui-breadcrumb>

			</div>
		</div>
	</section>
    <!-- Page Top section end -->
{{ 'HELLO' | translate }}    {{ 'GUEST' | translate }}    

    
    
	<!-- Features section -->
	<section class="features-section spad">
		<div class="container">
			<div class="section-title">
				<img src="/assets/images/section-title-icon.png" alt="#">
				<p>The best out there</p>
				<h2>{{ 'DEXTEROUS_DEVELOPER' | translate }}</h2>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 feature-item">
					<div class="ft-icon">
						<i class="flaticon-domain-registration"></i>
					</div>
					<h4>Buy your Domain</h4>
					<p>Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iaculis.</p>
				</div>
				<div class="col-lg-4 col-md-6 feature-item fi-center-top">
					<div class="ft-icon">
						<i class="flaticon-server"></i>
					</div>
					<h4>Cloud Database</h4>
					<p>Ex eleifend orci porttitor, suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iaculis. </p>
				</div>
				<div class="col-lg-4 col-md-6 feature-item">
					<div class="ft-icon">
						<i class="flaticon-devices"></i>
					</div>
					<h4>SSD-Only</h4>
					<p>Suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iaculis. Proin ac urna at lectus volutpat lobortis. </p>
				</div>
				<div class="col-lg-4 col-md-6 feature-item">
					<div class="ft-icon">
						<i class="flaticon-smartphone"></i>
					</div>
					<h4>Smart Contacts</h4>
					<p>Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iaculis.</p>
				</div>
				<div class="col-lg-4 col-md-6 feature-item">
					<div class="ft-icon">
						<i class="flaticon-folder"></i>
					</div>
					<h4>Free Support</h4>
					<p>Ex eleifend orci porttitor, suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iaculis. </p>
				</div>
				<div class="col-lg-4 col-md-6 feature-item">
					<div class="ft-icon">
						<i class="flaticon-viral-marketing"></i>
					</div>
					<h4>Viral Marketing</h4>
					<p>Suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iaculis. Proin ac urna at lectus volutpat lobortis. </p>
				</div>
			</div>
		</div>
	</section>
	<!-- Features section end -->