<div>
  <PRE class="ccode">
		 	  	/*
 * th.c
 *
 *      Author: dexter
 */


#include <stdio.h>
#include <stdlib.h>
#include <string.h>
#include <stdint.h>

struct record  {
	int16_t  id;
	struct record * next;
	struct record *left;
	struct record * right;
};

/*
 * return a pointer to struct record
 */
struct record * newNode(int i)
{
	struct record * node = calloc(1, sizeof( struct record) );
	node->id = i;
	return node;
}

int max(int a, int b)
{
   return (a > b) ? a :b;
}

/*
 * getHeight
 * pointer to the struct record ie root node
 */
int getHeight( struct record * head)
{
	if (head == NULL)
		return 0;

	int lh = getHeight( head->left);
	int rh = getHeight( head->right);

	printf("lh = %d, rh = %d\n", lh, rh);
	return 1 + max(lh, rh);
}

/*
 * addNode
 * insert a node into the binary tree
 */
void addNode( struct record ** head, struct record * node)
{
	if ( (*head) == NULL) {
		(*head) = node;
		return;
	}else{
		if ( node->id < (*head)->id )
			addNode( &(*head)->left, node);
		else
			addNode( &(*head)->right, node);
	}

}

int main (int argc, char * argv[])
{
	  /* Constructed binary tree is
	            25
	          /   \
	        22      29
	      /
	    17
	     \
	      20

	  */

	struct record * head = NULL;
	addNode(&head, newNode(25) );
	addNode(&head, newNode(22) );
	addNode(&head, newNode(17) );
	addNode(&head, newNode(29) );
	addNode(&head, newNode(20) );
	printf("Tree Height = %d \n", getHeight( head) );
	return 0;

}

		 	  	</PRE>
</div>
