<!-- Blog posts section -->
	<section class="blog-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="blog-post">
						<div class="post-date">Apr 23, 2019</div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h5><a href=""></a></h5>
              </li>
              <li class="list-group-item">
                <h5><a  href="">Python </a></h5>
              </li>

            </ul>

					</div>

					<!-- <div class="site-pagination">
						<a href="" class="active">01.</a>
						<a href="">02.</a>
						<a href="">03</a>
					</div> -->
				</div>
				<!-- sidebar -->
				<div class="col-lg-3 col-md-5 col-sm-8 sidebar">
				 <!-- widget -->
					<div class="sb-widget">
						<a href="" class="add">
							<img src="/assets/images/python.png" alt="#">
						</a>
						<!--<form class="sb-search-widget">
							<input type="text">
							<button>Search</button>
						</form> -->
					</div>
					<!-- widget -->
					<div class="sb-widget">
						<h2 class="sb-title">Latest Posts</h2>
						<div class="sb-latest-post-widget">
							<div class="lp-item">
								<div class="lp-thumb set-bg" data-setbg="/assets/images/cyclist-icon.png"></div>
								<div class="lp-content">
									<h6><a href="http://www.pythontutor.com/c.html#mode=edit"">Check out python-tutor to view stack frames</a></h6>
								</div>
							</div>
							<div class="lp-item">
								<div class="lp-thumb set-bg" data-setbg="/assets/images/footer-thumb/1.jpg"></div>
								<div class="lp-content">
									<h6><a  href="http://dbader.org">Python Tricks curated by Dan Bader (dbader.org)</a></h6>
								</div>
							</div>

						</div>
					</div>

					<div class="sb-widget">
						<h2 class="sb-title">Tag</h2>
						<div class="sb-tag-widget">
							<a href="">development</a>
							<a href="" class="big-tag">Python</a>
							<a href="">stack frame</a>
							<a href="">multi processing</a>
							<a href="">tips</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer top section end -->
