<!-- <section class="container-fluid" ng-include="'./components/skills/' + vm.validSkill.filename + '.html'">
</section>
-->

<!-- Blog posts section -->
	<section class="blog-section spad" >
		<div class="container">
      <div class="row">
        <div class="col-lg-9"> <h2>{{vm.validSkill.title}}</div>
        </div>
			<div class="row">
				<div class="col-lg-9">
					<div class="blog-post">
						<!-- <div class="post-date">Apr 23, 2019</div> -->

            <ul class="list-group list-group-flush">
              <li class="list-group-item" ng-repeat="item in vm.blogContent.content">
              <h5 ng-if="item.type == 0"><a href="{{item.url}}" target="_blank"><span ng-bind-html="item.title"></span></a></h5>
              <h5 ng-if="item.type == 1">{{item.title}}</h5>
              <div ng-bind-html="item.content" ng-if="item.type == 1"></div>
              </li>
            </ul>
					</div>

					<!-- <div class="site-pagination">
						<a href="" class="active">01.</a>
						<a href="">02.</a>
						<a href="">03</a>
					</div> -->
				</div>
				<!-- sidebar -->
				<div class="col-lg-3 col-md-5 col-sm-8 sidebar">
				 <!-- widget -->
					<div class="sb-widget">
						<a href="" class="add">
							<img src="/assets/images/{{vm.validSkill.filename}}.png" alt="#">
						</a>
						<!--<form class="sb-search-widget">
							<input type="text">
							<button>Search</button>
						</form> -->
					</div>
					<!-- widget -->
					<div class="sb-widget">
						<h2 class="sb-title">Latest Posts</h2>
						<div class="sb-latest-post-widget">
							<div class="lp-item" ng-repeat="item in vm.latestPosts | limitTo:10">
								<div class="lp-thumb set-bg" style="background-image: url('/assets/images/cyclist-icon.png')"></div>
								<div class="lp-content">
									<h6><a href="{{item.url}}" target="_blank">{{item.title}}</a></h6>
								</div>
							</div>

						</div>
					</div>

					<div class="sb-widget">
						<h2 class="sb-title">Tag</h2>
						<div class="sb-tag-widget">
              <span class="big-tag" ng-repeat="tag in vm.blogContent.tags"> {{tag}} </span>


						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer top section end -->
