 <div class="modal-header">
            <h3 class="modal-title" style="margin:0 auto;" id="modal-title">{{'SIGNUP_TITLE' | translate}}</h3>
            <button type="button" ng-click="CANCEL()" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
        </div>
        
         <FORM name="signin_form" ng-submit="submitForm()" novalidate>
        <div class="modal-body" id="modal-body">

			<!-- begin bootstrap  grid system -->
			<div class="container">
		    <div class="row">
		        
						<div class="form-group row">
							  <div class="col-md-4"><label for="username">{{'NAME' | translate }} </label>
							  </div>
							  
							  <div class="col-md-8">
			            <input type="text" name="username" class="form-control" ng-model="vm.user.name" required >
            		   <P ng-show="signin_form.username.$invalid && !signin_form.username.$pristine" class="help-block">{{'REQUIRED' | translate}}</P>
							  </div>
						</div>	         
		         
		            <DIV class="form-group row">
			            <div class="col-md-4">
			            	<label for="name">{{'EMAIL' | translate }} </label>
			            </div>	
			            <div class="col-md-8">
	            		    <input type="text" name="email" class="form-control" ng-model="vm.user.email" required >
	            			<span ng-show="signin_form.email.$invalid && !signin_form.email.$pristine" class="help-block">{{'REQUIRED' | translate}}</span>
			            </div>
		            </DIV>
		            
		            <div class="form-group row">
			            <div class="col-md-4">
			            	<label for="name">{{'PASSWORD' | translate }} </label>
			            </div>	
			            <div class="col-md-8">
            		    <input type="password" name="password" ng-model="vm.user.password" required >
            		    <span ng-show="signin_form.password.$invalid && !signin_form.password.$pristine" class="help-block">{{'REQUIRED' | translate }}</span>
            			<span ng-show="!signin_form.password.$pristine && !signin_form.c_password.$pristine && vm.password_mismatch" class="help-block">{{'PASSWORD_MISMATCH' | translate }}</span>
		               </div>
		            </div>
		            
		            <div class="form-group row">
			            <div class="col-md-4">
			            	<label for="name">{{'CONFIRM_PASSWORD' | translate }} </label>
			            </div> 	
			            <div class="col-md-8">
            		    <input type="password" name="c_password" ng-model="vm.user.c_password" required >
            		    <span ng-show="signin_form.c_password.$invalid && !signin_form.c_password.$pristine" class="help-block">{{'REQUIRED' | translate }}</span>
		               </div>
		            </div>
		            
		            <div class="form-group row">
		            <div class="col-md-4">
		            	<label for="name">{{'MOBILE' | translate }} </label>
		             </div>
		             <div class="col-md-8"> 	
		            	<input type="text" name="name" class="form-control" ng-model="vm.user.mobile" ng-minlength=10>
            			<span ng-show="signin_form.name.$invalid && !signin_form.name.$pristine" class="help-block">{{'INVALID_MOBILE' | translate}}</span>
		            </div>
		            </div>
		            
		        
		    </div>
		</div>        
		<!-- end bootstrap  grid system -->
        
        </div>
        
        
        <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="signin_form.$invalid">{{'SIGN_ME_UP' | translate}}</button>
        
            <button class="btn btn-primary" type="button" ng-click="OK(vm.user)">{{'OK' | translate}}</button>
            <button class="btn btn-warning" type="button" ng-click="CANCEL()">{{'CANCEL' | translate}}</button>
        </div>
</FORM>
