 <div class="modal-header">
            <h3 class="modal-title" style="margin:0 auto;" id="modal-title">{{'SIGNIN_TITLE' | translate}}</h3>
            <button type="button" ng-click="CANCEL()" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
        </div>
        
         <FORM name="signin_form" ng-submit="submitForm()" novalidate>
        <div class="modal-body" id="modal-body">

			<!-- begin bootstrap  grid system -->
			<div class="container">
		    <div class="row">
		        
       
		            <DIV class="form-group row">
			            <div class="col-md-4">
			            	<label for="email">{{'EMAIL' | translate }} </label>
			            </div>	
			            <div class="col-md-8">
	            		    <input type="text" name="email" class="form-control" ng-model="vm.user.email" required >
	            			<span ng-show="signin_form.email.$invalid && !signin_form.email.$pristine" class="help-block">{{'REQUIRED' | translate}}</span>
			            </div>
		            </DIV>
		            
		            <div class="form-group row">
			            <div class="col-md-4">
			            	<label for="name">{{'PASSWORD' | translate }} </label>
			            </div>	
			            <div class="col-md-8">
            		    <input type="password" name="password" ng-model="vm.user.password" required >
            		    <span ng-show="signin_form.password.$invalid && !signin_form.password.$pristine" class="help-block">{{'REQUIRED' | translate }}</span>
            			<span ng-show="!signin_form.password.$pristine && !signin_form.c_password.$pristine && vm.password_mismatch" class="help-block">{{'PASSWORD_MISMATCH' | translate }}</span>
		               </div>
		            </div>
		        
		    </div>
		</div>        
		<!-- end bootstrap  grid system -->
        
        </div>
        
        
        <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="signin_form.$invalid">{{'LET_ME_IN' | translate}}</button>
        
            <button class="btn btn-warning" type="button" ng-click="CANCEL()">{{'CANCEL' | translate}}</button>
        </div>
</FORM>
