<!-- Footer top section -->
	<section class="footer-top-section text-white spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="footer-widget about-widget-me">
            <h3>About Me</h3>
            <p >I am versatile developer, quick at learning</p>

					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="footer-widget about-widget-me">
            <h3>Contact info</h3>
            					<div >
            						<ul>
            							<li>  <p>Hyderabad<br>Mobile: 9494228083</p><div class="clearfix"></div></li>
            							<li><p>Email: <span class="yellow"><a href="mailto:djcm95@gmail.com">djcm95(at)gmail.com</a></span>
                          </p>
                            <div class="clearfix"></div>
                          </li>
            					   </ul>
            					</div>
					</div>
				</div>
				<div class="col-lg-4  col-md-6">
					<div class="footer-widget">
            <h3 >My social network</h3>
            <div class="fw-social social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-github"></i></a>
							<a href="#"><i class="fa fa-google"></i></a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer top section end -->


<!-- Footer section -->
<footer class="footer-section">
		<div class="container">
			<ul class="footer-menu">
				<li><a href="/">Home</a></li>
				<li><a ui-sref="app.landing({})" ui-sref-options="{reload:true}">Skills</a></li>
			</ul>
			<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
&nbsp; &nbsp;
<div class="copyright">Logo made with <a href="https://www.designevo.com/en/" title="Free Online Logo Maker">DesignEvo</a></div>

		</div>

	</footer>
	<!-- Footer top section end -->
